version: '{build}'

os: Visual Studio 2019

cache:
  - C:\Users\appveyor\.m2 -> .appveyor.yml
  - C:\Downloads -> .appveyor.yml

environment:
  matrix:
    - PROJ: "opencv,artoolkitplus,chilitags,flandmark,gym"
      OS: windows-x86
    - PROJ: "ffmpeg"
      OS: windows-x86
    - PROJ: "ffmpeg"
      OS: windows-x86
      EXT: -gpl
    - PROJ: "flycapture,spinnaker,libdc1394,libfreenect,librealsense,librealsense2,videoinput"
      OS: windows-x86
    - PROJ: "hdf5"
      OS: windows-x86
    - PROJ: "mkl"
      OS: windows-x86
    - PROJ: "openblas"
      OS: windows-x86
    - PROJ: "arpack-ng,cminpack,fftw,gsl"
      OS: windows-x86
    - PROJ: "cpython,numpy,scipy"
      OS: windows-x86
    - PROJ: "llvm"
      OS: windows-x86
    - PROJ: "leptonica,tesseract"
      OS: windows-x86
    - PROJ: "ale"
      OS: windows-x86
    - PROJ: "liquidfun"
      OS: windows-x86
    - PROJ: "cpu_features,systems"
      OS: windows-x86

    - PROJ: "opencv,artoolkitplus,chilitags,flandmark,gym"
      OS: windows-x86_64
    - PROJ: "ffmpeg"
      OS: windows-x86_64
    - PROJ: "ffmpeg"
      OS: windows-x86_64
      EXT: -gpl
    - PROJ: "flycapture,spinnaker,libdc1394,libfreenect,libfreenect2,librealsense,librealsense2,videoinput"
      OS: windows-x86_64
    - PROJ: "arrow"
      OS: windows-x86_64
    - PROJ: "hdf5"
      OS: windows-x86_64
    - PROJ: "hyperscan"
      OS: windows-x86_64
    - PROJ: "mkl"
      OS: windows-x86_64
    - PROJ: "mkl-dnn,dnnl"
      OS: windows-x86_64
    - PROJ: "openblas"
      OS: windows-x86_64
    - PROJ: "arpack-ng,cminpack,fftw,gsl"
      OS: windows-x86_64
    - PROJ: "cpython,numpy,scipy"
      OS: windows-x86_64
    - PROJ: "llvm"
      OS: windows-x86_64
    - PROJ: "libpostal"
      OS: windows-x86_64
    - PROJ: "leptonica,tesseract"
      OS: windows-x86_64
    - PROJ: "cuda"
      OS: windows-x86_64
    - PROJ: "mxnet"
      OS: windows-x86_64
    - PROJ: "tensorflow"
      OS: windows-x86_64
    - PROJ: "tensorrt"
      OS: windows-x86_64
    - PROJ: "ale"
      OS: windows-x86_64
    - PROJ: "onnxruntime"
      OS: windows-x86_64
    - PROJ: "tvm"
      OS: windows-x86_64
    - PROJ: "liquidfun"
      OS: windows-x86_64
    - PROJ: "qt"
      OS: windows-x86_64
    - PROJ: "cpu_features,systems"
      OS: windows-x86_64

    - PROJ: "opencv"
      OS: windows-x86_64
      EXT: -gpu
    - PROJ: "mxnet"
      OS: windows-x86_64
      EXT: -gpu
#    - PROJ: "tensorflow"
#      OS: windows-x86_64
#      EXT: -gpu
#      PARTIAL_CPPBUILD: "1"
    - PROJ: "tensorflow"
      OS: windows-x86_64
      EXT: -gpu
#    - PROJ: "tensorflow"
#      OS: windows-x86_64
#      EXT: -python
#    - PROJ: "tensorflow"
#      OS: windows-x86_64
#      EXT: -python-gpu
    - PROJ: "onnxruntime"
      OS: windows-x86_64
      EXT: -gpu
    - PROJ: "tvm"
      OS: windows-x86_64
      EXT: -gpu

for:
-
  matrix:
    only:
      - PARTIAL_CPPBUILD: "1"
  after_build:
    - appveyor PushArtifact "%APPVEYOR_BUILD_FOLDER%\%PROJ%-cppbuild.zip"

init:
# uncomment this if you need to enable RDP for this build run
#    - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
    - 'fsutil fsinfo drives'
    - 'fsutil volume diskfree c:'
    - wmic computersystem set AutomaticManagedPagefile=False
    - wmic pagefile list /format:list
#    - wmic pagefileset create name="C:\pagefile.sys"
    - wmic pagefileset where name="C:\\pagefile.sys" set InitialSize=8192,MaximumSize=8192
    - wmic pagefileset list /format:list
#    - ps: write-host "Restarting..."
#    - ps: sleep 5
#    - ps: restart-computer -f
#    - ps: sleep 5
#    - ps: write-host "Restarted."
    - wmic pagefile list /format:list

install:
    - 'echo install section'

build_script:
    - 'echo build step for %PROJ%'
    - '%APPVEYOR_BUILD_FOLDER%\ci\build.cmd "%PROJ%"'

test_script:
    - 'echo no tests'

on_finish:
    - 'fsutil fsinfo drives'
    - 'fsutil volume diskfree c:'
    - wmic pagefile list /format:list
#    uncomment this for the RDP session to remain active after the build ends
#    - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

