version: '{build}'

os: Visual Studio 2015

cache:
  - C:\Downloads 

environment:
  matrix:
    - PROJ: "opencv,flandmark"
      OS: windows-x86
    - PROJ: "ffmpeg"
      OS: windows-x86
    - PROJ: "flycapture"
      OS: windows-x86
    - PROJ: "libdc1394"
      OS: windows-x86
    - PROJ: "libfreenect"
      OS: windows-x86
    - PROJ: "librealsense"
      OS: windows-x86
    - PROJ: "videoinput"
      OS: windows-x86
    - PROJ: "artoolkitplus"
      OS: windows-x86
    - PROJ: "chilitags"
      OS: windows-x86
    - PROJ: "hdf5"
      OS: windows-x86
    - PROJ: "mkl"
      OS: windows-x86
    - PROJ: "openblas"
      OS: windows-x86
    - PROJ: "arpack-ng"
      OS: windows-x86
    - PROJ: "cminpack"
      OS: windows-x86
    - PROJ: "fftw"
      OS: windows-x86
    - PROJ: "gsl"
      OS: windows-x86
    - PROJ: "llvm"
      OS: windows-x86
    - PROJ: "leptonica"
      OS: windows-x86
    - PROJ: "tesseract"
      OS: windows-x86
    - PROJ: "ale"
      OS: windows-x86
    - PROJ: "systems"
      OS: windows-x86

    - PROJ: "opencv,flandmark"
      OS: windows-x86_64
    - PROJ: "ffmpeg"
      OS: windows-x86_64
    - PROJ: "flycapture"
      OS: windows-x86_64
    - PROJ: "libdc1394"
      OS: windows-x86_64
    - PROJ: "libfreenect"
      OS: windows-x86_64
    - PROJ: "libfreenect2"
      OS: windows-x86_64
    - PROJ: "librealsense"
      OS: windows-x86_64
    - PROJ: "videoinput"
      OS: windows-x86_64
    - PROJ: "artoolkitplus"
      OS: windows-x86_64
    - PROJ: "chilitags"
      OS: windows-x86_64
    - PROJ: "hdf5"
      OS: windows-x86_64
    - PROJ: "mkl"
      OS: windows-x86_64
    - PROJ: "openblas"
      OS: windows-x86_64
    - PROJ: "arpack-ng"
      OS: windows-x86_64
    - PROJ: "cminpack"
      OS: windows-x86_64
    - PROJ: "fftw"
      OS: windows-x86_64
    - PROJ: "gsl"
      OS: windows-x86_64
    - PROJ: "llvm"
      OS: windows-x86_64
    - PROJ: "libpostal"
      OS: windows-x86_64
    - PROJ: "leptonica"
      OS: windows-x86_64
    - PROJ: "tesseract"
      OS: windows-x86_64
    - PROJ: "cuda"
      OS: windows-x86_64
#    - PROJ: "tensorflow"
#      OS: windows-x86_64
    - PROJ: "ale"
      OS: windows-x86_64
    - PROJ: "systems"
      OS: windows-x86_64

    - PROJ: "opencv"
      OS: windows-x86_64
      EXT: -gpu

init:
# uncomment this if you need to enable RDP for this build run
#    - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

install:
    - 'echo install section'

build_script:
    - 'echo build step for %PROJ%'
    - '%APPVEYOR_BUILD_FOLDER%\ci\build.cmd "%PROJ%"'

test_script:
    - 'echo no tests'

on_finish:
#    uncomment this for the RDP session to remain active after the build ends
#    - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

