/target/
/caffe/cppbuild/
/caffe/target/
/cuda/target/
/cuda/cppbuild/
/opencv/target/
/ffmpeg/target/
/flycapture/target/
/libdc1394/target/
/libfreenect/target/
/videoinput/target/
/artoolkitplus/target/
/chilitags/target/
/flandmark/target/
/fftw/target/
/gsl/target/
/llvm/target/
/leptonica/target/
/tesseract/target/
/opencv/cppbuild/
/ffmpeg/cppbuild/
/flycapture/cppbuild/
/libdc1394/cppbuild/
/libfreenect/cppbuild/
/videoinput/cppbuild/
/artoolkitplus/cppbuild/
/chilitags/cppbuild/
/flandmark/cppbuild/
/fftw/cppbuild/
/gsl/cppbuild/
/llvm/cppbuild/
/leptonica/cppbuild/
/tesseract/cppbuild/

# Mac
.DS_Store

# Eclipse
.classpath
.project
.settings

# IntelliJ
*.iml

