<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>sonatype-nexus-snapshots</id>
      <username>${env.CI_DEPLOY_USERNAME}</username>
      <password>${env.CI_DEPLOY_PASSWORD}</password>
    </server>
    <server>
      <id>intNexus</id>
      <username>intnex</username>
      <password>intnex</password>
    </server>
  </servers>

 <profiles>
  <profile>
   <id>int-snapshots</id>
   <activation><activeByDefault>true</activeByDefault></activation>
   <repositories>
     <repository>
       <id>intNexus</id>
       <url>http://bytedeconexus.ddns.net:15081/nexus/content/repositories/bytedecoInt</url>
       <releases><enabled>false</enabled></releases>
       <snapshots>
        <enabled>true</enabled>
        <updatePolicy>always</updatePolicy>
       </snapshots>
     </repository>
   </repositories>
  </profile>
 </profiles>

</settings>
