<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %5p [%-50c{4}] - %m%n" />

		</layout>
	</appender>

    <logger name="org.hibernate" additivity="false">
        <level value="warn"></level>
        <appender-ref ref="stdout" />
    </logger>

	<root>
		<priority value="info" />
		<appender-ref ref="stdout" />
	</root>
</log4j:configuration>
